In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
P = 10000  # 本金
I = 0.05  # 年利率
i = I/12  # 月利率
M = 12  # 月数

每月还款额Fm=每月还款本金+每月还款利息。Pm+Rm

每月还款本金Pm=贷款总额/贷款月数 P/M。

每月还款利息Rm=贷款本金余额 * 贷款月利率 Pb * i（ 贷款月利率=年利率/12）。

贷款本金余额Pb=贷款总额-已还款月数 * 每月还款本金 P-m * Pm

In [3]:
def bj(M):
    for m in range(M):
        Pm = P/M  # 每月还款本金Fp=贷款总额P/贷款月数M
        Pb = P-m*Pm  # 贷款本金余额Pb=贷款总额P-已还款月数m*每月还款本金Fp
        Rm = Pb*i  # 每月还款利息Rm=贷款本金余额Pb*贷款月利率i
        Fm = Pm+Rm  # 每月还款额Fm=每月还款本金Pm+每月还款利息Rm
        Pe = Pb-Pm  # 期末余额Pe=贷款本金余额Pb-每月还款本金Pm
        # print('第%d月还款额：%f，还款本金：%f，还款利息，%f，期末余额：%f' % (m+1, Fm, Pm, Rm, Pb-Pm))
        result = (m+1, Fm, Pm, Rm, Pb, Pe)
        yield result

In [4]:
for r in bj(M):
    print('第%d月还款额：%f，还款本金：%f，还款利息，%f，期初余额：%f，期末余额：%f' % r)

第1月还款额：875.000000，还款本金：833.333333，还款利息，41.666667，期初余额：10000.000000，期末余额：9166.666667
第2月还款额：871.527778，还款本金：833.333333，还款利息，38.194444，期初余额：9166.666667，期末余额：8333.333333
第3月还款额：868.055556，还款本金：833.333333，还款利息，34.722222，期初余额：8333.333333，期末余额：7500.000000
第4月还款额：864.583333，还款本金：833.333333，还款利息，31.250000，期初余额：7500.000000，期末余额：6666.666667
第5月还款额：861.111111，还款本金：833.333333，还款利息，27.777778，期初余额：6666.666667，期末余额：5833.333333
第6月还款额：857.638889，还款本金：833.333333，还款利息，24.305556，期初余额：5833.333333，期末余额：5000.000000
第7月还款额：854.166667，还款本金：833.333333，还款利息，20.833333，期初余额：5000.000000，期末余额：4166.666667
第8月还款额：850.694444，还款本金：833.333333，还款利息，17.361111，期初余额：4166.666667，期末余额：3333.333333
第9月还款额：847.222222，还款本金：833.333333，还款利息，13.888889，期初余额：3333.333333，期末余额：2500.000000
第10月还款额：843.750000，还款本金：833.333333，还款利息，10.416667，期初余额：2500.000000，期末余额：1666.666667
第11月还款额：840.277778，还款本金：833.333333，还款利息，6.944444，期初余额：1666.666667，期末余额：833.333333
第12月还款额：836.805556，还款本金：833.333333，还款利息，3.472222，期初余额：833.333333，期末余额：-0.000000

本月还息=本月余额×月利率

本月还本=每月还款额-本月还息

每月还款额=[贷款本金×月利率×（1+月利率）^还款月数]÷[（1+月利率）^还款月数－1]

In [5]:
Fm = P*i*((1+i)**M)/(((1+i)**M)-1)
Fm

856.0748178846745

In [6]:
def bx(M):
    result = None
    for m in range(M):
        if not result:  # 期初余额
            Pb = P  # 若不存在上期数据即首次运算，期初余额为本金
        else:
            Pb = result[-1]
        Rm = Pb*i  # 还息
        Pm = Fm-Rm  # 还本
        Pe = Pb-Pm  # 期末余额
        result = (m+1, Fm, Pm, Rm, Pb, Pe)
        # print('第%d月还款额：%f，还款本金：%f，还款利息，%f，期初余额：%f，期末余额：%f' % result)
        yield result

In [7]:
bx_df = pd.DataFrame(columns=['月份', '还款额', '还本', '还息', '初期余额', '末期余额'])

In [8]:
bx_lst = []
for r in bx(M):
    bx_lst.append(r)
bx_df = pd.DataFrame(bx_lst, columns=['月份', '还款额', '还本', '还息', '期初余额', '期末余额'])
bx_df

    月份         还款额          还本         还息          期初余额          期末余额
0    1  856.074818  814.408151  41.666667  10000.000000  9.185592e+03
1    2  856.074818  817.801519  38.273299   9185.591849  8.367790e+03
2    3  856.074818  821.209025  34.865793   8367.790330  7.546581e+03
3    4  856.074818  824.630729  31.444089   7546.581305  6.721951e+03
4    5  856.074818  828.066690  28.008127   6721.950576  5.893884e+03
5    6  856.074818  831.516968  24.557850   5893.883886  5.062367e+03
6    7  856.074818  834.981622  21.093195   5062.366917  4.227385e+03
7    8  856.074818  838.460712  17.614105   4227.385295  3.388925e+03
8    9  856.074818  841.954299  14.120519   3388.924583  2.546970e+03
9   10  856.074818  845.462442  10.612376   2546.970284  1.701508e+03
10  11  856.074818  848.985202   7.089616   1701.507842  8.525226e+02
11  12  856.074818  852.522640   3.552178    852.522640 -4.081357e-11

In [9]:
bx_df.set_index('月份', inplace=True)

In [10]:
bx_df

           还款额          还本         还息          期初余额          期末余额
月份
1   856.074818  814.408151  41.666667  10000.000000  9.185592e+03
2   856.074818  817.801519  38.273299   9185.591849  8.367790e+03
3   856.074818  821.209025  34.865793   8367.790330  7.546581e+03
4   856.074818  824.630729  31.444089   7546.581305  6.721951e+03
5   856.074818  828.066690  28.008127   6721.950576  5.893884e+03
6   856.074818  831.516968  24.557850   5893.883886  5.062367e+03
7   856.074818  834.981622  21.093195   5062.366917  4.227385e+03
8   856.074818  838.460712  17.614105   4227.385295  3.388925e+03
9   856.074818  841.954299  14.120519   3388.924583  2.546970e+03
10  856.074818  845.462442  10.612376   2546.970284  1.701508e+03
11  856.074818  848.985202   7.089616   1701.507842  8.525226e+02
12  856.074818  852.522640   3.552178    852.522640 -4.081357e-11