# 彩蛋 → 数据表达技能进阶

我们用Echarts来玩玩结果可视化

In [1]:
import numpy as np  
import pandas as pd 
import matplotlib.pyplot as plt
# improt语句：加载工具包
# numpy：科学计算工具包
# pandas：数据分析工具包
# malplotlib：图表绘制工具包

import matplotlib.style as psl
psl.use('seaborn-colorblind')
% matplotlib inline
# 设置一个图标风格
# 魔法函数

print('导入完成！')

导入完成！

In [2]:
# 构建税费计算函数

def tax(salary_sum):
    if salary_sum <= 3500:
        # 月薪低于3500元；
        return 0
    elif salary_sum <= (3500 + 1500):
        # 月薪在3500-4500元之间；
        return (salary_sum - 3500) * 0.03
    elif salary_sum <= (3500 + 1500 + 3000):
        # 月薪在4500-8000元之间；
        return 1500 * 0.03 + (salary_sum - 1500 - 3500) * 0.1
    elif salary_sum <= (3500 + 1500 + 3000 + 4500):
        # 月薪在8000-12500元之间；
        return 1500 * 0.03 + 3000 * 0.1 + (salary_sum - 3500 - 1500 - 3000) * 0.2
    elif salary_sum <= (3500 + 1500 + 3000 + 4500 + 26000):
        # 月薪在12500-38500元之间；
        return 1500 * 0.03 + 3000 * 0.1 + 4500 * 0.2 + (salary_sum - 3500 - 1500 - 3000 - 4500) * 0.25
    elif salary_sum <= (3500 + 1500 + 3000 + 4500 + 26000 + 20000):
        # 月薪在38500-58500元之间；
        return 1500 * 0.03 + 3000 * 0.1 + 4500 * 0.2 + 26000 * 0.25 + (salary_sum - 3500 - 1500 - 3000 - 4500 - 26000) * 0.3
    elif salary_sum <= (3500 + 1500 + 3000 + 4500 + 26000 + 20000 + 25000):
        # 月薪在58500-83500元之间；
        return 1500 * 0.03 + 3000 * 0.1 + 4500 * 0.2 + 26000 * 0.25 + 20000 * 0.3 + (salary_sum - 3500 - 1500 - 3000 - 4500 - 26000 - 20000) * 0.35
    else:
        # 月薪在83500元以上；
        return 1500 * 0.03 + 3000 * 0.1 + 4500 * 0.2 + 26000 * 0.25 + 20000 * 0.3 + 25000 * 0.35 + (salary_sum - 3500 - 1500 - 3000 - 4500 - 26000 - 20000 - 25000) * 0.45

test = 45000
print('函数构建完成，当月薪为%.1f元时，需要缴税%.2f元' % (test,tax(test)))

函数构建完成，当月薪为45000.0元时，需要缴税9695.00元

In [3]:
# 构建五险一金函数

def insurance(salary):
    if salary <= 21396:
        return salary * 0.175
    else:
        return 3744.58

test = 15000
print('函数构建完成，当月薪为%.1f元时，需要缴五险一金%.2f元' % (test,insurance(test)))

函数构建完成，当月薪为15000.0元时，需要缴五险一金2625.00元

In [4]:
# 构建奖金随机函数

def bonus(b_avg):
    # 预设10年的奖金，生成120个随机值
    return pd.Series(np.random.normal(loc = b_avg,scale = 200,size = 120))

print('函数构建完成，当奖金均值为1500时，随机数组为：')
print(bonus(1500)[:10])

print('函数构建完成')

函数构建完成，当奖金均值为1500时，随机数组为：
0    1654.655195
1    1333.023347
2    1562.668866
3    1213.013455
4    1089.126986
5    1767.525139
6    1218.869475
7    1441.933540
8    1492.701941
9    1551.205045
dtype: float64
函数构建完成

In [5]:
# 构建每月净收入函数

def final_income(s,b_avg):
    df_i = pd.DataFrame({
            '月薪':[s for i in range(120)],                  # 月薪基数
            '五险一金':[insurance(s) for i in range(120)],   # 计算五险一金
            '奖金':bonus(b_avg)                              # 计算奖金
        })
    df_i['计税部分'] = df_i['月薪'] + df_i['奖金']
    df_i['个人所得税'] = df_i['计税部分'].apply(lambda x : tax(x))  # 计算个人所得税
    df_i['月净收入'] = df_i['月薪'] - df_i['五险一金'] + df_i['奖金'] - df_i['个人所得税']
    return df_i
    # return  → 返回一个dataframe

print('函数构建完成')
result1 = final_income(10000,1500)
# 测试结果 → 当月收入1万，平均奖金1500元时的月净收入情况
result1.head()
# .head()查看头5条数据

函数构建完成

     五险一金           奖金     月薪          计税部分        个人所得税         月净收入
0  1750.0  1770.467407  10000  11770.467407  1099.093481  8921.373925
1  1750.0  1386.218003  10000  11386.218003  1022.243601  8613.974403
2  1750.0  1620.146276  10000  11620.146276  1069.029255  8801.117021
3  1750.0  1482.198191  10000  11482.198191  1041.439638  8690.758553
4  1750.0  1828.194577  10000  11828.194577  1110.638915  8967.555662

In [6]:
# 构建每月开支函数

def final_expense():
    df_i = pd.DataFrame({
            '基本生活支出':np.random.randint(3000,3501,size=120),
            '购物支出':np.random.normal(loc=5000,scale=500,size=120),
            '娱乐支出':np.random.randint(400,1200,size=120),
            '学习支出':np.random.randint(100,500,size=120),
            '其他支出':np.random.normal(loc=500,scale=40,size=120)
        })
    df_i['月总支出'] = df_i['基本生活支出'] + df_i['购物支出'] + df_i['娱乐支出'] + df_i['学习支出'] + df_i['其他支出']
    return df_i
    # return  → 返回一个dataframe
print('函数构建完成')

result2 = final_expense()
# 测试结果 → 随机构建每月支出情况
result2.head()

函数构建完成

         其他支出  基本生活支出  娱乐支出  学习支出         购物支出          月总支出
0  481.956106    3056   709   498  5243.132164   9988.088270
1  529.404213    3254   608   469  4868.963744   9729.367957
2  474.906254    3178   876   186  5585.676208  10300.582461
3  478.819697    3106   484   325  5195.700950   9589.520648
4  496.400110    3472   530   494  4781.791472   9774.191582

In [7]:
# 构建函数模拟 - 分期六月

income = final_income(10000,1500)['月净收入'].tolist()
expense = final_expense()['月总支出'].tolist()
saving = [0 for i in range(120)]
debt = [0 for i in range(120)]

def case_c():
    month = []
    data = []
    # 创建两个空列表，用于存放月份和每月数据
    
    for i in range(120):
        money = saving[i] + income[i] - debt[i] - expense[i]  # 当月还需借贷花呗金额 = 月初余额 + 月收入 - 月支出 - 本月需还花呗
        #print(money)
        if -money > 15000:
            # 当月还需借贷花呗金额大于15000元时 → 破（吃）产（土）
            print('第{}个月花呗也救不了我了，要破（吃）产（土）了！\n-------'.format(str(i+1)))
            break
        else:
            # 当月还需借贷花呗金额小于等于15000元时 → 继续浪
            if money >= 0:
                saving[i+1] = saving[i] + income[i] - expense[i] - debt[i]
                debt[i+1] = 0
            else:
                money_per = (abs(money) * (1+0.045))/6    # 分期六月
                saving[i+1] = 0
                debt[i+1] = debt[i+1] + money_per
                debt[i+2] = debt[i+2] + money_per
                debt[i+3] = debt[i+3] + money_per
                debt[i+4] = debt[i+4] + money_per
                debt[i+5] = debt[i+5] + money_per
                debt[i+6] = debt[i+6] + money_per
        month.append(i+1)
        data.append([income[i],expense[i],debt[i],saving[i+1],debt[i+1]])
    # 创建循环，模拟每月花呗使用情况
    
    result_c = pd.DataFrame(data,columns=['月收入','月支出','本月需还花呗','本月余钱','欠债'],index = month)
    result_c.index.name = '月份'
    # 将数据存为Dataframe
    
    return result_c

result3 = case_c()
result3.head()

第35个月花呗也救不了我了，要破（吃）产（土）了！
-------

            月收入          月支出      本月需还花呗  本月余钱          欠债
月份
1   8563.872566  9190.730405    0.000000     0  109.177740
2   8876.094639  9643.324733  109.177740     0  261.818771
3   8487.076756  9607.284383  261.818771     0  502.521702
4   8789.789482  8538.426917  502.521702     0  546.265252
5   8820.324238  9894.282094  546.265252     0  828.454110

In [8]:
# 生成横坐标month
month = ['第%d月' % (i+1) for i in range(120)]
print(month)

['第1月', '第2月', '第3月', '第4月', '第5月', '第6月', '第7月', '第8月', '第9月', '第10月', '第11月', '第12月', '第13月', '第14月', '第15月', '第16月', '第17月', '第18月', '第19月', '第20月', '第21月', '第22月', '第23月', '第24月', '第25月', '第26月', '第27月', '第28月', '第29月', '第30月', '第31月', '第32月', '第33月', '第34月', '第35月', '第36月', '第37月', '第38月', '第39月', '第40月', '第41月', '第42月', '第43月', '第44月', '第45月', '第46月', '第47月', '第48月', '第49月', '第50月', '第51月', '第52月', '第53月', '第54月', '第55月', '第56月', '第57月', '第58月', '第59月', '第60月', '第61月', '第62月', '第63月', '第64月', '第65月', '第66月', '第67月', '第68月', '第69月', '第70月', '第71月', '第72月', '第73月', '第74月', '第75月', '第76月', '第77月', '第78月', '第79月', '第80月', '第81月', '第82月', '第83月', '第84月', '第85月', '第86月', '第87月', '第88月', '第89月', '第90月', '第91月', '第92月', '第93月', '第94月', '第95月', '第96月', '第97月', '第98月', '第99月', '第100月', '第101月', '第102月', '第103月', '第104月', '第105月', '第106月', '第107月', '第108月', '第109月', '第110月', '第111月', '第112月', '第113月', '第114月', '第115月', '第116月', '第117月', '第118月', '第119月', '第120月']

In [9]:
# 生成月净收入数据 → income

income = result1['月净收入'].tolist()
print(income)

[8921.3739253925705, 8613.9744027968227, 8801.1170210511737, 8690.758553157435, 8967.5556616652921, 8744.7006544065916, 8740.9677888313508, 8775.5561484585396, 8487.3203099115126, 8770.9276222520657, 8926.3667414682823, 8777.4730820142704, 8776.4482477277597, 8666.9328243770051, 8418.4056336281046, 8549.5373999508793, 8573.612256111237, 8673.995255910484, 8625.2439772918988, 8700.1767290235875, 8427.9781065260668, 8484.9201019943957, 8669.9433641834294, 8764.8768999618223, 8723.4929406242682, 8916.5403035417949, 8438.5184018869732, 8635.0586155208221, 8661.263089565804, 8799.6861877062711, 8604.9710338151235, 8220.3571339935133, 8926.5479751268722, 8625.2414221261024, 8857.3064871719071, 8677.8903661651439, 8822.5405243120604, 8545.7918630000986, 8480.2865879391793, 8741.6762889877027, 8549.5087251848108, 8710.266623644744, 8682.4646090004044, 8594.0398772558256, 8805.9733322341235, 8892.2351818676761, 8624.1297459466532, 8780.9971622275425, 8700.2203171652181, 8711.2161772873369, 8767.2281068980519, 8654.4337572209515, 9171.1236187842387, 8544.5473877866461, 8601.608193672686, 8616.8896756905124, 8551.6931558244705, 8847.2895678029236, 8742.1058343187578, 8762.3065836101177, 8835.507734668412, 8636.8457077836501, 8682.6496694089583, 8709.8966999345812, 9151.539169698046, 8918.1266949336277, 8620.2083417862777, 8730.2578987987563, 8718.0942712779542, 8638.7943237663603, 8458.8896924567453, 8764.8015632234201, 8809.8847417899324, 8508.8822320301533, 8449.0623153886554, 9041.26071450175, 8714.4615602492813, 8673.093174671787, 8739.602411489459, 8867.5152790927332, 8722.9853177807345, 8893.988589902332, 8616.5717964239175, 8604.9234959970818, 8460.6005354974295, 8570.9923591023708, 9081.4267214175125, 8625.9342502794516, 8790.5517319936062, 8594.242553442682, 8628.3485699036955, 8438.4463932614708, 8537.8630747589286, 8814.6762386971332, 8657.3171895314972, 8773.1116220426011, 8747.580558641901, 9076.014411793074, 8922.5191523134235, 8745.7864771928544, 8775.7454385391611, 8540.76702893945, 8685.7157465052114, 8565.3368652226163, 8663.0619887114772, 8388.5258960897081, 8643.2799310473983, 8536.5679511530161, 8637.3884654788963, 8220.255659218783, 8723.0971965346998, 8397.4144728812262, 8722.813420787721, 8483.3603163759944, 8686.1840213319283, 8653.7494075077575, 8758.5887698750303, 8567.7583512823439, 8644.4067265537215, 8639.3550804994629]

In [10]:
# 生成月净支出数据

general_expense = pd.Series(np.random.randint(3000,3501,size=120)).tolist()
shopping = pd.Series(np.random.normal(loc=5000,scale=500,size=120)).tolist()
happy = pd.Series(np.random.randint(400,1200,size=120)).tolist()
study = pd.Series(np.random.randint(100,500,size=120)).tolist()
other = pd.Series(np.random.normal(loc=500,scale=40,size=120)).tolist()
print(general_expense)
print(shopping)
print(happy)
print(study)
print(other)

[3219, 3101, 3216, 3125, 3437, 3043, 3202, 3235, 3482, 3489, 3181, 3246, 3352, 3037, 3313, 3206, 3340, 3073, 3389, 3364, 3420, 3414, 3237, 3374, 3067, 3248, 3339, 3177, 3024, 3165, 3402, 3278, 3482, 3161, 3182, 3023, 3168, 3461, 3171, 3011, 3025, 3016, 3229, 3363, 3295, 3107, 3221, 3380, 3096, 3118, 3478, 3459, 3236, 3327, 3440, 3063, 3138, 3171, 3463, 3044, 3228, 3271, 3164, 3410, 3061, 3425, 3439, 3114, 3222, 3069, 3284, 3250, 3077, 3159, 3149, 3189, 3368, 3396, 3496, 3467, 3421, 3301, 3190, 3279, 3298, 3369, 3222, 3150, 3474, 3453, 3418, 3072, 3375, 3085, 3090, 3398, 3415, 3147, 3230, 3429, 3318, 3208, 3158, 3387, 3085, 3429, 3499, 3372, 3398, 3011, 3045, 3482, 3166, 3449, 3039, 3413, 3257, 3271, 3023, 3012]
[4958.8985703933367, 5458.4973535891404, 4342.7784037864558, 5645.8923780963542, 3753.1302292036466, 5704.4969601035136, 5009.8373941474456, 5051.5076062949911, 5148.1020509596419, 4927.1142997994966, 4338.8604682893665, 5320.5631520080969, 4753.8083000701699, 5040.4797354492848, 6442.5726772610869, 4306.0820837092151, 4588.4905788702326, 5088.8293541001804, 4867.9121080961486, 5781.8265774253632, 5573.9915022805799, 4902.4204020778225, 5255.6049241698302, 4891.2473061598212, 4999.8275068437388, 4743.0733545080775, 4470.9761598999994, 5352.5497186502989, 4966.2702281068387, 4492.2747848256295, 4939.4615368109917, 5998.0326181707242, 4929.0480094850991, 5312.8063028569659, 5743.1738263353036, 4831.4078603204771, 5108.8669972849557, 5146.0416091940624, 5633.1922317320941, 4257.0678064036119, 5324.041365051974, 3788.9129688317798, 4979.1437631200579, 5699.8744390619195, 4422.9011547158416, 4501.9409111040077, 5056.010264256096, 4576.4027361018116, 4782.8159611098581, 5101.4020010063423, 3990.1160776796196, 5316.8653857650606, 5282.1112203495532, 5726.3046405578725, 5776.6763655720661, 5437.5249748467149, 4414.6061935091329, 4124.005090171805, 4252.0187433731026, 5056.244330378383, 4022.8803993394235, 5608.9866399185767, 5324.071765368838, 5481.7111217160864, 5329.3514224096316, 3945.9499642807486, 4949.5540244965305, 4838.850298464653, 5785.0322325921852, 4184.8105214533616, 4659.7628993565404, 4552.6861134776263, 4917.9792996102888, 6241.1260345876417, 5866.8238459724726, 4748.9189408074344, 5473.4741223605906, 4733.9006292299582, 5241.8994232018504, 4695.3368422733274, 5402.1807162733721, 5668.8051976060069, 5312.9514371580808, 4801.1446364281446, 5155.6346292897124, 5641.7976422781503, 5285.4200377998104, 4362.5520478711887, 5819.1559379103037, 4326.2938032032844, 4851.9038363654154, 6008.0094522982517, 5727.0223892508548, 4877.0399824420392, 4772.6530599062262, 4453.6218976983346, 5431.7078445450916, 5763.8325463601996, 4853.3715337154817, 4973.3264758681908, 4715.4521757632237, 5075.8867870604154, 4774.8235910173762, 5187.7839629974396, 4751.1548486589618, 5746.2426825776001, 5532.6556470741398, 5742.1200313784284, 4513.3631100475213, 4437.2611224520324, 4491.9433026957831, 5585.8551418072375, 4210.9742419135464, 5273.3334789432201, 5110.0781340603635, 5075.9488391393252, 5328.8470420341846, 5238.9958874194717, 5052.4421346286335, 5098.4395631007374]
[1171, 406, 1146, 1130, 867, 1138, 648, 470, 553, 706, 479, 968, 656, 953, 612, 960, 778, 892, 1004, 459, 431, 493, 995, 856, 702, 918, 550, 627, 468, 879, 1050, 1029, 708, 1019, 917, 1020, 714, 559, 555, 1189, 577, 680, 430, 442, 1167, 517, 632, 861, 624, 862, 1131, 408, 1059, 425, 1199, 456, 949, 622, 731, 545, 1125, 1140, 1139, 552, 556, 828, 550, 824, 591, 1086, 889, 451, 1100, 619, 564, 817, 1198, 436, 730, 685, 1144, 1170, 823, 904, 1020, 525, 969, 901, 684, 941, 506, 532, 755, 909, 1109, 972, 883, 735, 874, 479, 796, 718, 891, 863, 549, 1041, 1079, 1075, 420, 735, 698, 1161, 1040, 808, 922, 526, 929, 958, 774, 885]
[114, 278, 276, 470, 339, 490, 126, 264, 286, 350, 401, 382, 494, 159, 428, 411, 132, 131, 122, 166, 246, 446, 256, 252, 155, 148, 130, 108, 118, 248, 139, 118, 203, 255, 152, 496, 369, 376, 195, 275, 152, 119, 322, 196, 176, 235, 189, 238, 246, 383, 324, 319, 427, 203, 290, 246, 412, 439, 318, 134, 248, 492, 451, 401, 464, 386, 404, 169, 219, 237, 170, 401, 100, 264, 132, 282, 152, 148, 169, 184, 102, 390, 363, 335, 126, 412, 345, 448, 332, 475, 271, 187, 151, 388, 486, 365, 417, 464, 379, 190, 378, 121, 196, 216, 102, 314, 181, 148, 230, 447, 130, 410, 303, 346, 235, 255, 372, 182, 454, 353]
[620.33039047852048, 529.19800143701991, 597.59137644210432, 575.85668001036447, 480.80396233095087, 509.64307991854042, 487.9397718632614, 556.86041255059672, 547.24225935720597, 511.86575533675096, 528.20406492806092, 507.96960726377995, 549.23837883960584, 494.76760780419164, 509.95136097659861, 518.7739250844154, 550.37922765121436, 538.70636703766104, 544.3437832528175, 468.00495433826569, 571.11082939526705, 514.77621513196925, 575.77701387677041, 412.31572406194664, 504.73812035847982, 488.67947835867193, 558.54042533949189, 586.97872248279316, 455.15881583618074, 498.4202436786195, 453.89756777639042, 463.93964352486563, 588.53405242848964, 576.62315543956959, 466.3039831827557, 537.52252374072236, 458.46183719380889, 502.00330664660032, 430.85973256304345, 482.76821462262785, 495.67922039848935, 551.88421471061827, 475.83968511108691, 485.20466725332517, 513.34480389839155, 511.04868779541988, 478.14455149696653, 505.25126436427979, 523.17305633644457, 525.5365946079105, 483.37385209119128, 469.69515995725754, 549.70695665064716, 475.27484662228795, 496.35832252534942, 464.45699246232073, 509.69744527402713, 528.63822800253956, 492.7020116056255, 534.19906527166359, 484.09048643167176, 489.24924516650486, 538.68241161817468, 470.39307409685688, 500.99315873935285, 535.28918798688426, 497.60345989191813, 506.12740610235841, 540.46388880073107, 473.6486909682036, 492.88046652219128, 573.52001134762907, 490.49761416769877, 463.06097131040235, 480.02516368143347, 465.25439282570665, 549.29554606816203, 430.44429502127923, 520.55176222641478, 454.94024180175074, 519.93347059817108, 482.35378048232792, 528.70202995931493, 476.13383522885675, 536.58760800100242, 528.73471037301556, 491.14796039727707, 500.14390972673391, 455.50165480580642, 472.5506264888005, 485.16485877043789, 474.37134880253285, 507.05397615115561, 454.52882483123852, 531.69829994690667, 489.24210985761027, 566.93338289743417, 469.68522839842245, 490.58121988446931, 489.22317011704968, 490.17287044776725, 557.49481508396093, 465.44039448112414, 596.08983877967955, 463.3761345216451, 475.81080183370136, 459.2013545054017, 551.14066378960911, 562.97776076251864, 480.33653188793897, 486.75393393392847, 469.64940857034458, 397.79253900423379, 525.36130101223694, 516.81016319911828, 536.29909537703247, 469.88081536975466, 475.83953468649162, 502.99457541947385, 515.91759343669537]

In [11]:
# 生成负债数据

month2 = ['第%d月' % (i) for i in result3.index]
hb = result3['本月需还花呗'].tolist()
qz = result3['欠债'].tolist()
print(month2)
print(hb)
print(qz)

['第1月', '第2月', '第3月', '第4月', '第5月', '第6月', '第7月', '第8月', '第9月', '第10月', '第11月', '第12月', '第13月', '第14月', '第15月', '第16月', '第17月', '第18月', '第19月', '第20月', '第21月', '第22月', '第23月', '第24月', '第25月', '第26月', '第27月', '第28月', '第29月', '第30月', '第31月', '第32月', '第33月', '第34月']
[0.0, 109.17774019016525, 261.81877130935527, 502.52170233600339, 546.26525195930196, 828.45410984757086, 1268.0815701034135, 1450.6085718540139, 1735.5016526671016, 2121.7450760197726, 2460.0020470705931, 2859.006072417912, 3015.4005283173437, 3433.0333599029245, 3739.6036217449619, 3948.159263826044, 4529.6795613895019, 4820.570453713256, 5393.4244197123744, 5838.8940639168577, 6287.8528992899874, 6921.6674169982462, 7529.1320784383652, 8026.5015602846979, 8503.8186880398134, 8916.6471178255233, 9379.8702974474709, 9800.6210626611464, 10105.557575247967, 10601.92395151344, 10880.629809921247, 11343.866678450027, 11808.761570453022, 12443.504645657593]
[109.17774019016525, 261.81877130935527, 502.52170233600339, 546.26525195930196, 828.45410984757086, 1268.0815701034135, 1450.6085718540139, 1735.5016526671016, 2121.7450760197726, 2460.0020470705931, 2859.006072417912, 3015.4005283173437, 3433.0333599029245, 3739.6036217449619, 3948.159263826044, 4529.6795613895019, 4820.570453713256, 5393.4244197123744, 5838.8940639168577, 6287.8528992899874, 6921.6674169982462, 7529.1320784383652, 8026.5015602846979, 8503.8186880398134, 8916.6471178255233, 9379.8702974474709, 9800.6210626611464, 10105.557575247967, 10601.92395151344, 10880.629809921247, 11343.866678450027, 11808.761570453022, 12443.504645657593, 13146.303225720729]

In [12]:
month2

['第1月',
 '第2月',
 '第3月',
 '第4月',
 '第5月',
 '第6月',
 '第7月',
 '第8月',
 '第9月',
 '第10月',
 '第11月',
 '第12月',
 '第13月',
 '第14月',
 '第15月',
 '第16月',
 '第17月',
 '第18月',
 '第19月',
 '第20月',
 '第21月',
 '第22月',
 '第23月',
 '第24月',
 '第25月',
 '第26月',
 '第27月',
 '第28月',
 '第29月',
 '第30月',
 '第31月',
 '第32月',
 '第33月',
 '第34月']